<app-header></app-header>
<section id="info" class="info-bg" style="background-color: whitesmoke;">
  <div class="container">
    <div id="c47213" class="frame frame--type-header">
      <header><h1 class="hyphenate">FAQ (Frequently asked questions)</h1></header>
    </div>
    <br>
    <div id="c47214" class="frame frame--type-text">
      <h3>What images can I upload?</h3>
      <p>
        The different convertion methods have been tested on PNG and JPEG images. Other formats may work too, but it is
        recommended to use one of the tested formats.
      </p>

      <br>
      <h3>The convertion is stuck at: "Image uploading".</h3>
      <p>
        If the convertion takes longer than 20 sec., please try to reupload your picture or
        upload another one.
      </p>

      <br>
      <h3>Is it possible to protect an image with multiple faces on it?</h3>
      <p>
        The short answer is: Yes. It really depends on the individual image. For some it may
        work, for some it does not work. It's a try and error approach.
      </p>

      <br>
      <h3>Will my converted image be resistant against Neural Networks?</h3>
      <p>
        The converted image gets only tested against the Viola-Jones algorithm. Today there are more modern algorithms out there.
        Most of the other face detection/recognition algos work differently. So there might be a protection but it is not guaranteed.
      </p>

      <br>
      <h3>Can I contribute to the website?</h3>
      <p>
        Sure you can! Just visit <a target="_blank" rel="noopener noreferrer" href="https://www.github.com/dsecsoftware/ghostface">https://www.github.com/dsecsoftware/ghostface</a> for more information.
      </p>

      <br>
      <br>
      <br>
    </div>
  </div>
</section>
<app-footer></app-footer>
