<nav class="navbar navbar-expand-lg bg-light sticky-top" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="../../assets/img/ghostface_logo.svg" alt="Logo" height="45" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#info">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#convert">Convert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
