<nav class="navbar navbar-expand-lg bg-light sticky-top" id="nav">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/ghostface_logo.svg" alt="Logo" height="45" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end bg-light" id="navbarContent">
        <ul class="navbar-nav p-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#info">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#convert">Convert</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
