<section id="conversion" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Protect your privacy!</h2>
      <p>
        Upload an image of yourself and you'll get a face detection
        resistant image back.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div>
          <img
            src="assets/img/no-image-original.png"
            style="width: 100%; object-fit: contain;"
            class="center"
            alt=""
            id="uploadedImage"
          />
        </div>
        <br />
        <form
          action="/upload"
          method="POST"
          enctype="multipart/form-data"
          name="uploadForm"
          id="uploadForm"
        >
          <div class="input-group">
            <div class="custom-file">
              <input
                type="file"
                name="imageFile"
                accept="image/x-png,image/jpeg"
                class="custom-file-input"
                id="inputFile"
              />
              <label class="custom-file-label" for="inputFile"
                >Choose file</label
              >
            </div>
          </div>
          <br>
          <h4>Info</h4>
          <p>If the converted image is not really recognizable, please try to zoom out (STRG -) or in (STRG +) with your browser.
            The converted image will always look correct when downloaded, regardless of the browser settings.
          </p>
        </form>
      </div>

      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <div>
          <img
            src="assets/img/no-image-tmp.png"
            style="width: 100%; object-fit: contain;"
            class="img-fluid"
            alt=""
            id="convertedImage"
          />
        </div>
        <br />
        <div>
          <form
            action="/download"
            method="GET"
            name="downloadForm"
            id="downloadForm"
          >
            <button
              class="btn"
              id="btn-download"
              type="submit"
              style="float: left;"
              disabled
            >
              <i class="fa fa-download"></i> Download
            </button>
            <input type="hidden" name="image" class="imageName" />
          </form>
          <label
            id="status-label"
            style="color: crimson; margin-left: 10px; text-align: center;"
            >Finished!</label
          >
        </div>
        <br />
        <form
          action="/convert"
          method="POST"
          enctype="multipart/form-data"
          name="convertForm"
          id="convertForm"
        >
          <p style="display: inline-block;">
            Choose the type of convertion:
          </p>
          <!-- Options -->
          <select name="options" id="options" disabled>
            <option value="none">None</option>
            <option value="hide-half">Hide half</option>
            <option value="blackgrid">Black grid</option>
            <option value="whitegrid">White grid</option>
            <option value="edges">Edges</option>
            <option value="hsv">HSV Color</option>
            <option value="bitwise-not">Invert color</option>
            <option value="bitwise-not-gray">Invert gray color</option>
            <option value="cartoon">Cartoon</option>
            <option value="color-highlighting">Highlight black color</option>
            <option value="blue-filter">Blue filter</option>
          </select>
          <br />
          <p style="display: inline-block;">Choose cascade type:</p>
          <select name="cascade_options" id="cascade_options" disabled>
            <option value="haar">Default</option>
            <option value="haar-alt">Alternative</option>
            <option value="haar-alt2">Alternative 2</option>
            <option value="haar-alt-tree">Alternative Tree</option>
          </select>
          <br />
          <label for="minNeighbors">Sensitivity:</label>
          <div class="slidecontainer">
            <input
              type="range"
              min="0"
              max="6"
              value="3"
              step="1"
              class="slider"
              id="minNeighbors"
              name="minNeighbors"
              onchange="updateSensitivityText(this.value);"
              disabled
            />
            <output name="outputMinNeighbors" id="outputMinNeighbors"
              >3</output
            >
          </div>
          <label for="scaleFactor" id="textScale">Scale-Factor:</label>
          <div class="slidecontainer">
            <input
              type="range"
              min="1.01"
              max="1.4"
              value="1.05"
              step="0.01"
              class="slider"
              id="scaleFactor"
              name="scaleFactor"
              onchange="updateScaleText(this.value);"
              disabled
            />
            <output name="outputScale" id="outputScale">1.05</output>
          </div>
          <br />
          <input type="hidden" name="imageName" class="imageName" />
          <input
            id="btn-submit"
            type="submit"
            value="Convert image"
            disabled
          />
        </form>
      </div>
    </div>
  </div>
</section>
