<a id="convert"></a>
<div class="container-lg mt-2">
    <h2>Conversion</h2>
    <div class="row justify-content-center">
        <div class="card mx-5 col-lg-4 col-sm-12">
            <img
                src="assets/img/no-image-original.png"
                style="width: 100%; object-fit: contain;"
                class="center"
                alt=""
                id="uploadedImage"
            />
            <div class="card-body">
                <form
                    action="/upload"
                    method="POST"
                    enctype="multipart/form-data"
                    name="uploadForm"
                    id="uploadForm"
                    (change)="uploadImage($event)"
                >
                    <div class="input-group">
                        <div class="custom-file">
                        <input
                            type="file"
                            name="imageFile"
                            accept="image/x-png,image/jpeg"
                            class="custom-file-input"
                            id="inputFile"
                        />
                        <label class="custom-file-label" for="inputFile"
                            >{{choosenFile}}</label
                        >
                        </div>
                    </div>
                    <br>
                    <h5>Info</h5>
                    <p>If the converted image is not really recognizable, please try to zoom out (STRG -) or in (STRG +) with your browser.
                        The converted image will always look correct when downloaded, regardless of the browser settings.
                    </p>
                </form>
            </div>
        </div>
        <div class="card col-lg-4 col-sm-12">
            <img
                src="assets/img/no-image-tmp.png"
                style="width: 100%; object-fit: contain;"
                class="img-fluid"
                alt=""
                id="convertedImage"
            />
            <div class="card-body">
                <form
                    action="/download"
                    method="GET"
                    name="downloadForm"
                    id="downloadForm"
                >
                    <button
                    class="btn btn-primary"
                    id="btn-download"
                    type="submit"
                    [disabled]="downloadBtnDisabled"
                    >
                        <i class="fa fa-download"></i> Download
                    </button>
                    <input type="hidden" name="image" class="imageName" />
                </form>
                <label *ngIf="infoText"
                    id="status-label"
                    style="color: crimson; margin-left: 10px; text-align: center;"
                    >{{infoText}}</label
                >
            </div>
        </div>
    </div>
</div>
