<div class="container">
    <div class="header">
        <img class="icon" src="../../assets/img/favicon.png" alt="GhostFace Logo">
        <h1>GhostFace</h1>
        <h3><- Slash surveillance -></h3>
    </div>

    <div class="nav">
        <div class="item">
            <h2>Info</h2>
        </div>
        <div class="item">
            <h2>Convert</h2>
        </div>
        <div class="item">
            <h2>Contact</h2>
        </div>
    </div>

    <footer class="footer">
        <div class="item">
            <h3>FAQ</h3>
        </div>
        <div class="item">
            <h3>This site is hosted by BurningStack</h3>
        </div>
        <div class="item">
            <h3>Privacy policy</h3>
        </div>
    </footer>

</div>
