<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="/"><span>GhostFace</span></a>
      </h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li id="nav-hero" class="active"><a routerLink="" (click)="scrollToElement('hero')">Home</a></li>
        <li id="nav-info"><a routerLink="" (click)="scrollToElement('info')">Info</a></li>
        <li id="nav-conversion"><a routerLink="" (click)="scrollToElement('conversion')">Convert image</a></li>
        <li id="nav-contact"><a routerLink="" (click)="scrollToElement('contact')">Contact us</a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
