
// Color: Ice Infinity
// https://www.canva.com/colors/color-palettes/ice-infinity/

$primary: #385E72;
$secondary: #6AABD2;
$text: #B7CFDC;
$text-light: #D9E4EC;
$danger: red;

$text-white: white;
$text-black: black;

@import "~node_modules/bootstrap/scss/bootstrap";

body {
    font-family: "Open Sans", sans-serif;
    color: #555555;
  }

  a {
    text-decoration: none;
    color: #7cc576;
  }

  a:hover {
    color: #9ed49a;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
