<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-background">
            <img src="assets/img/slide/slide-1.jpg" alt="" />
          </div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">
                Welcome to <span>GhostFace</span>
              </h2>
              <p class="animated fadeInUp">
                On this site you can upload an image of your face and you
                will get a face detection resistant image back.
              </p>
              <a
                routerLink=""
                (click)="scrollToElement('conversion')"
                class="btn-get-started animated fadeInUp scrollto"
                >Let's go</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-background">
            <img src="assets/img/slide/slide-2.jpg" alt="" />
          </div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">Algorithms</h2>
              <p class="animated fadeInUp">
                GhostFace uses the OpenCV Framework to detect your face. It
                algorithms build up on the Viola-Jones Face Detection
                Framework.
              </p>
              <a
                routerLink=""
                (click)="scrollToElement('conversion')"
                class="btn-get-started animated fadeInUp scrollto"
                >Let's go</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-background">
            <img src="assets/img/slide/slide-3.jpg" alt="" />
          </div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">Data protection</h2>
              <p class="animated fadeInUp">
                We are not collecting any data of you. Our server gets wiped
                every 30 minutes. All images will then be deleted
                permanentilly and cannot be restored.
              </p>
              <a
                routerLink=""
                (click)="scrollToElement('conversion')"
                class="btn-get-started animated fadeInUp scrollto"
                >Let's go</a
              >
            </div>
          </div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#heroCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="carousel-control-prev-icon icofont-thin-double-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>

      <a
        class="carousel-control-next"
        href="#heroCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon icofont-thin-double-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
