<section id="hero">
    <div class="hero-color-layer"></div>
    <div class="hero-container">
        <div class="animated zoom-in">
            <a href="index.html" class="hero-logo"><img height="256rem"
                    src="../../assets/img/ghostface_icon.svg" alt=""></a>

            <h1>Welcome To GhostFace</h1>
            <h2>- Slash Surveilance -</h2>
        </div>
        <div class="animated tada">
            <a href="#nav" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</section>
